// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #72ecff;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #eaeaea;
$backprimary: #22272E;
$backsecondary: #2D333B;




// NAVBAR
  // background: #2D333B;
  // color: #eaeaea;

// ALL APP
  // background-color: #22272E;
