<div class="show-container">

  <div class="show-info">
    <div class="show-poster">

    </div>
    <div class="show-details">
      <!-- title, description, director, cast, year, runtime, genre, rating AND platform -->
    </div>
  </div>

</div>
