<div class="container">
  <div class="user-list d-flex">
    <% @users.each do |user| %>
      <div class="user-card">
        <% if current_user.friends?(user) %>
          <%= link_to "Unfriend #{user.first_name}", friend_path(Friend.where(user: current_user, friend: user).or(Friend.where(user: user, friend: current_user)).first), method: :delete  %>
          <% else %>
          <%= link_to "Add #{user.first_name}" , user_friends_path(current_user, friend: user), method: :post %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
