.navbar-lewagon {
  justify-content: space-between;
  background: #2D333B;
  color: #eaeaea;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: #eaeaea;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $light-gray !important;
}

.navbar {
  padding: 5px 30px;
  margin-bottom: 32px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
}
