.navbar-lewagon {
  justify-content: space-between;
  background: #2D333B;
  color: #eaeaea;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: #eaeaea;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $light-gray !important;
}
