.btn-container {
  display: inline-block;
  margin-top: 4px;
  margin-left: -14px;
}

.overlay {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: grey;
  opacity: 50%;
  z-index: 5;
  border-radius: 4px;
}

.platform-btn {
  display: flex;
  flex-direction: column;
  width: 40px;
}

.btn-primary {
  display: inline-block;
  list-style-type: none;
}

.platform {
  display: flex;
  // position: sticky;
}

.btn-sticky {
  // position: sticky;
  // position: 50;
}

.platformfixed {
  position: fixed;
  left: 150px;
}

// .platform-btn:hover {
//   .overlay {
//   display: none;
//   z-index: 1;
//   }
// }



