.btn-container {
  display: inline-block;
  margin-top: 4px;
}

.platform-btn {
  display: flex;
  flex-direction: column;
  width: 40px;
  border-radius: 50%;
}

.btn-primary {
  display: inline-block;
  list-style-type: none;
}

.platform {
  display: flex;
  // position: sticky;
}

.btn-sticky {
  // position: sticky;
  // position: 50;
}

.platformfixed {
  position: fixed;
  left: 150px;
}
